*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-light: #dcf4eb;
  --color-main: #27c287;
  --color-dark: #152614;
  --color-highlight: #C22762;
}

img {
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-light);
}

.container {
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: solid red 1px;
}

.nav__button {
  border: none;
  border-radius: 2em;
}

.hero__image {
  max-width: 300px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.hero__heading {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-highlight);
}

.hero {
  text-align: center;
}